In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')

In [45]:
data = {
    'name': ['Anton', 'Bob', 'Eva', 'Patrick', 'Ken'],
    'gender': ['male', 'male', 'female', 'male', 'female'],
    'age': [33, 37, 29, 28, 34],
    'salary': [100_000, 75_000, 50_000, 65_000, 90_000],
}

df = pd.DataFrame(data)
df

      name  gender  age  salary
0    Anton    male   33  100000
1      Bob    male   37   75000
2      Eva  female   29   50000
3  Patrick    male   28   65000
4      Ken  female   34   90000

In [58]:
df['gender'].value_counts(normalize=True)

gender
male      0.6
female    0.4
Name: proportion, dtype: float64